@font-face {
    font-family: 'Optima';
    src: url('/public/fonts/Optima.woff2') format('woff2'),
        url('/public/fonts/Optima.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optima';
    src: url('/public/fonts/Optima-Bold.woff2') format('woff2'),
        url('/public/fonts/Optima-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optima';
    src: url('/public/fonts/Optima-Italic.woff2') format('woff2'),
        url('/public/fonts/Optima-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/public/fonts/Inter-Regular.woff2') format('woff2'),
        url('/public/fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/public/fonts/Inter-Italic.woff2') format('woff2'),
        url('/public/fonts/Inter-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}